In [1]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import db_password

In [2]:
# Read csv file into a DataFrame
games = pd.read_csv("bgg_dataset.csv", delimiter=';')

In [3]:
# Checking for null values
games.isnull().sum()

ID                       16
Name                      0
Year Published            1
Min Players               0
Max Players               0
Play Time                 0
Min Age                   0
Users Rated               0
Rating Average            0
BGG Rank                  0
Complexity Average        0
Owned Users              23
Mechanics              1598
Domains               10159
dtype: int64

In [4]:
# Review the games with no ID
noID= games[games["ID"].isnull()]
noID

,ID,Name,Year Published,Min Players,Max Players,Play Time,Min Age,Users Rated,Rating Average,BGG Rank,Complexity Average,Owned Users,Mechanics,Domains
10776,NaN,Ace of Aces: Jet Eagles,1990.0,2,2,20,10,110,"6,26",10778,2,NaN,NaN,NaN
10835,NaN,Die Erben von Hoax,1999.0,3,8,45,12,137,"6,05",10837,2,NaN,NaN,NaN
11152,NaN,Rommel in North Africa: The War in the Desert ...,1986.0,2,2,0,12,53,"6,76",11154,4,NaN,NaN,NaN
11669,NaN,Migration: A Story of Generations,2012.0,2,4,30,12,49,"7,20",11671,"2,00",NaN,NaN,NaN
12649,NaN,Die Insel der steinernen Wachter,2009.0,2,4,120,12,49,"6,73",12651,3,NaN,NaN,NaN
12764,NaN,Dragon Ball Z TCG (2014 edition),2014.0,2,2,20,8,33,"7,03",12766,"2,50",NaN,NaN,NaN
13282,NaN,Dwarfest,2014.0,2,6,45,12,82,"6,13",13284,"1,75",NaN,NaN,NaN
13984,NaN,Hus,NaN,2,2,40,0,38,"6,28",13986,2,NaN,NaN,NaN
14053,NaN,Contrario 2,2006.0,2,12,0,14,37,"6,30",14055,"1,00",NaN,NaN,NaN
14663,NaN,Warage: Extended Edition,2017.0,2,6,90,10,49,"7,64",14665,3,NaN,NaN,NaN
16292,NaN,Rainbow,2010.0,2,6,20,8,35,"5,65",16294,2,NaN,NaN,NaN
17009,NaN,"Sexy, el juego del arte del flirteo",2014.0,3,4,120,18,39,"5,83",17011,2,NaN,NaN,NaN
18672,NaN,Dracarys Dice Don't Get Burned!,2018.0,2,5,15,10,86,"5,33",18674,"1,00",NaN,NaN,NaN
19332,NaN,Battleship: Tactical Capital Ship Combat 1925-...,1986.0,2,2,90,8,131,"5,07",19334,2,NaN,NaN,NaN
19474,NaN,The Umbrella Academy Game,2020.0,1,6,40,12,41,"3,16",19476,"1,00",NaN,NaN,NaN
20040,NaN,Hidden Conflict,2005.0,2,6,30,10,128,"4,35",20042,2,NaN,NaN,NaN

In [5]:
# Drop rows that have more than 2 missing values
games.dropna(thresh=len(games.columns)-2, inplace =True)

In [6]:
# Drop rows where Owned Users is null
games.dropna(subset=['Owned Users'], inplace=True)

In [7]:
# Change numbers to int to remove decimals

games['ID']=games['ID'].astype(int)
games['Year Published']=games['Year Published'].astype(int)
games['Owned Users']=games['Owned Users'].astype(int)

In [8]:
# Change comma separated numbers to decimals per StackOverflow https://stackoverflow.com/questions/40083266/replace-comma-with-dot-pandas
games['Rating Average'] = games['Rating Average'].apply(lambda x: x.replace(',','.'))
games['Complexity Average'] = games['Complexity Average'].apply(lambda x: x.replace(',','.'))

In [9]:
games.dtypes

ID                     int32
Name                  object
Year Published         int32
Min Players            int64
Max Players            int64
Play Time              int64
Min Age                int64
Users Rated            int64
Rating Average        object
BGG Rank               int64
Complexity Average    object
Owned Users            int32
Mechanics             object
Domains               object
dtype: object

In [10]:
games.isnull().sum()

ID                        0
Name                      0
Year Published            0
Min Players               0
Max Players               0
Play Time                 0
Min Age                   0
Users Rated               0
Rating Average            0
BGG Rank                  0
Complexity Average        0
Owned Users               0
Mechanics              1581
Domains               10136
dtype: int64

In [11]:
# Move mechanics column into it's own DataFrame. 
mechanics = games[['ID', 'Mechanics']]

In [12]:
# Drop Mechanics field from games DF
games = games.drop('Mechanics', axis=1)

In [13]:
# Create a demo games Dataframe to test the database import
games_demo = games.head(20)

In [14]:
# Save games demo DF
games_demo.to_csv('games_demo.csv', sep=';', index=False)
games.to_csv('games.csv', index=False)

In [15]:
# Create a demo mechanics DataFrame to test DB import
mechanics_demo = mechanics.head(20)

In [16]:
# Save mechanics demo to csv
mechanics_demo.to_csv('mechanics_demo.csv', sep=';', index=False)
mechanics.to_csv('mechanics.csv', index=False)

In [17]:
# create the database engine to connect to the SQL database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/BoardGames"
engine = create_engine(db_string)

In [18]:
games.to_sql(name="games", con=engine)

In [19]:
mechanics.to_sql(name="mechanics", con=engine)